.DS_Store
.vscode
*.o
assignment*/assignment?
assignment10/assignment10
assignment11/assignment11
assignment12/assignment12
try_append_flag
midterm/output*
midterm/q?
midterm2/q?
my_uniq/my_uniq
apue/ch?-?
apue/ch??-?
apue/echoarg
apue/fig8.20-exec2