.DS_Store
.vscode
*.o
assignment*/assignment?
assignment10/assignment10
assignment11/assignment11
try_append_flag
midterm/output*
midterm/q?
midterm2/q?
logfile.txt
print_time.sh
my_uniq/my_uniq
apue/ch?-?
apue/echoarg
apue/fig8.20-exec2